* {
	box-sizing: border-box;
}

body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
}

header {
	background-color:#dba84e;
	color: #fff;
	padding: 20px;
}

header h1 {
	margin: 0;
}

main {
	margin: 20px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

section {
	flex-basis: calc(50% - 10px);
	margin-bottom: 20px;
}

section h2 {
    color: #dba84e;
	margin-top: 0;
}

form {
	display: flex;
	flex-direction: column;
}

label {
	margin-top: 10px;
}

input[type="text"], input[type="email"], textarea {
	padding: 10px;
	border: none;
	border-radius: 5px;
	margin-bottom: 20px;
}

input[type="submit"] {
	background-color: #333;
	color: #fff;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

input[type="submit"]:hover {
	background-color: #555;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

ul li {
	margin-bottom: 10px;
}

a {
	color: #333;
	text-decoration: none;
}

footer {
	background-color: #dba84e;
	color: #fff;
	text-align: center;
	padding: 20px;
}