.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.container img {
    max-width: 100%;
    height: auto;
    margin: 10px;
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
}
h1{
    color:#dba84e ;
}